In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [24]:
caminho = r'C:\Users\leand\OneDrive\Área de Trabalho\Cursos\DNC\Ser Performance'
pasta = []
for pastas in os.listdir(caminho):
    pasta.append(pastas)

print(pasta)

['00D509DB-8BE0-4ACE-A5AD-5BF37386995B', '00D509DB-8BE0-4ACE-A5AD-5BF37386995B-20240718T184006Z-001.zip', '098887C7-B9E5-4BCC-8B68-D20E94CBC297', '147229CD-F3A5-4E75-91DC-7995C01F9438', '15EDFB01-20F8-451D-968C-3D76DA48FA5D', '2BB774CA-42B6-4958-AEAD-BE99DBE606CC', '3B4192CC-761D-45BA-A325-8D023FDC6D3A', '4903AA7A-ACE3-4C66-AD62-3FDBDD13CBF5', '4A74F755-039A-4777-834D-E9D7033E9142', '4C94CE12-1188-4B0C-9122-F2BDE5CB697A', '4F8F5521-B308-4503-89B9-9482D8B24351', '4FC32C34-7C03-4291-9325-6CA7055E7777', '4FF291F2-92A7-49AF-A40E-EB76D8F18F58', '5CD89290-B8DF-414F-9720-5891CD0BCFA5', '5F4387EC-6857-4E6E-94CC-C1CBE1E4F0B4', '6F67F229-B819-4508-891F-4573DB8F3CB2', '7257F457-ED17-4DD5-B738-0C8734A36101', '752351F6-AED0-43AB-B195-EC073589A8BA', '7672F3C1-00A6-42F2-A72C-8804C289CEC9', '79816F71-04C8-4B79-A572-757A0FE29B34', '8C0E7DB8-0B34-4451-B387-795F9B751589', '9DBC9CF3-7B21-410E-A27F-34589AAC3A20', 'A2687A1C-CA71-4245-8697-FE717B66DBF8', 'AB2282B0-7703-42B8-9F34-C06B4EC78790', 'ACE6D50E-AD7E-4E01-A908-9A3DD7892DCA', 'AEF86F4A-05EA-417B-A6B8-E0D75A8C12B0', 'B75171F8-9C93-4A68-9EA4-8CD8348D6293', 'BAC1F505-2A82-41BD-8DD9-01205676EA3E', 'CFA413B7-7821-497B-A322-542A4176E65D', 'D4F1A92F-5552-46AA-BE5C-B45C37E66C4E', 'D5B9D44C-D644-4207-8F98-02A18EC73B86', 'D749F2B0-AE4D-4969-9407-A5970AFD80BB', 'D9C754A8-23E2-4977-A2E1-A52154414F02', 'DCA51EA9-F37D-49A3-B209-46B0BE5346B0', 'DF055A14-4E69-497A-88C7-1D9BAC39B672', 'drive-download-20240718T184053Z-001.zip', 'drive-download-20240718T184159Z-001.zip', 'drive-download-20240718T184240Z-001.zip', 'drive-download-20240718T185602Z-001.zip', 'drive-download-20240718T185602Z-002.zip', 'drive-download-20240718T185801Z-001.zip', 'E2017589-BBF0-48A3-81A0-73ED84D0F993', 'E504E63C-326C-4CB7-A9BE-704EE6C677F3', 'EC9FD97E-32D9-43D3-8C25-15FD075D9750', 'Github', 'Minhas análises']

In [26]:
cliente =  caminho + '\\' + pasta[0] + '\\'

for csv in os.listdir(cliente):
    if csv.endswith('.csv'):
        if 'acessos' in csv:
            acessos = pd.read_csv(cliente + csv)
        if 'campanha' in csv:
            campanha = pd.read_csv(cliente + csv)
        if 'feedback' in csv:
            feedback = pd.read_csv(cliente + csv)
        if 'produto' in csv:
            produto = pd.read_csv(cliente + csv)
        if 'treinamento' in csv:
            treinamento = pd.read_csv(cliente + csv)
        if 'vendas' in csv:
            vendas = pd.read_csv(cliente + csv)

In [27]:
acessos.head()
acessos.shape

(11235, 5)

In [27]:
acessos = acessos.drop(columns=['CLI_CODIGO', 'Unidade'])

In [8]:
acessos.head()

         Data                           Funcionario  Quantidade_de_Acessos
0  2023-06-05  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      9
1  2023-06-10  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      6
2  2023-06-14  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      1
3  2023-06-16  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      2
4  2023-06-20  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      5

In [28]:
produto.head()

,Data,Produto,Categoria,Unidade,N_Produtos,Vlr_Bruto,Vlr_Desconto,Vlr_Liquido,cli_codigo
0,2021-01-01,NaN,AA84C2C5-9ADD-4CF4-AA02-1E05F85CDACD,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,6.0,528.0,0.0,528.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2021-01-01,NaN,68D0E2AE-FEC4-4FCD-8DD9-318A15AD0B6F,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,1.0,102.9,0.0,102.9,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2021-01-01,NaN,56865B8F-FB8E-427D-B7CB-5557665DCBE5,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,5.0,1253.0,0.0,1253.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2021-01-01,NaN,232926E7-A4C4-49A2-A4D1-8110B378576B,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,10.0,270.0,0.0,270.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2021-01-01,NaN,37B78DF7-204A-4F20-A1B2-D0FFC029F386,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,7.0,9770.0,-752.6,9017.4,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [29]:
produto = produto.drop(columns=['Produto', 'N_Produtos', 'Vlr_Bruto', 'Vlr_Desconto', 'Vlr_Liquido' ])
produto.head()

,Data,Categoria,Unidade,cli_codigo
0,2021-01-01,AA84C2C5-9ADD-4CF4-AA02-1E05F85CDACD,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2021-01-01,68D0E2AE-FEC4-4FCD-8DD9-318A15AD0B6F,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2021-01-01,56865B8F-FB8E-427D-B7CB-5557665DCBE5,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2021-01-01,232926E7-A4C4-49A2-A4D1-8110B378576B,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2021-01-01,37B78DF7-204A-4F20-A1B2-D0FFC029F386,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [21]:
vendas.shape

(10719, 9)

In [11]:
vendas.head()

,Data,Funcionario,Unidade,N_Boletos,N_Produtos,Vlr_Bruto,Vlr_Desconto,Vlr_Liquido,cli_codigo
0,2023-06-02,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,165.0,0.0,165.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2023-06-03,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,915.0,0.0,915.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2023-06-05,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,1460.0,116.8,1343.2,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2023-06-06,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,4.0,6850.0,685.0,6165.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2023-06-07,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,3,6.0,6867.0,511.0,6356.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [71]:
vendas['Devolucoes'] = vendas.apply(lambda row: 'S' if pd.isna(row['N_Produtos']) or row['N_Produtos'] <= 0 else 'N', axis=1)

In [53]:
tcktmedio = vendas['Vlr_Bruto'].sum() / vendas.shape[0]
print(f'Ticket médio: {tcktmedio:.2f}')

Ticket médio: 10124.14

In [54]:
FatBruto = vendas['Vlr_Bruto'].sum()
print(f'Faturamento bruto:  {FatBruto:.2f}')

Faturamento bruto:  108520678.86

In [55]:
fatliq = vendas['Vlr_Liquido'].sum()
print(f'Faturamento líquido:  {fatliq:.2f}')

Faturamento líquido:  101700863.59

In [57]:
total_descontos = vendas['Vlr_Desconto'].sum()
print(f'Total de descontos:  {total_descontos:.2f}')

Total de descontos:  5287770.73

In [62]:
totprod = vendas['N_Produtos'].sum()
print(f'Total de produtos:  {totprod:.0f} unidades')

Total de produtos:  175116 unidades

In [68]:
func_rank = vendas['Funcionario'].value_counts()
top10func = func_rank.head(10)
top10func

Funcionario
B20A3E46-7DBF-46E9-BDEA-5B13AAB08CE0    1281
5822DC47-B851-42C3-BDE0-BC9ABAFFBC57     901
0EA7A9D3-8569-4082-AA86-9346CF60A095     862
46AAF177-3F15-4CAB-BF67-27DBE9CC6748     809
24985D0E-9EDF-443D-BF33-CE5CD150100B     778
21A46DC1-490D-4077-9038-8BF460B71751     740
6E478F40-59BE-4210-BFD7-E8F236A02724     568
AC5D28E1-3B90-4D0D-870A-52E3C156AC64     536
4716A6E5-20E3-42F0-81C6-CCD88070E648     529
E6C62F5A-21C7-4F83-B6A2-83A03B208343     512
Name: count, dtype: int64

In [70]:
tail10func = func_rank.tail(10)
tail10func

Funcionario
F69F7D87-4788-40F3-890B-997300670DAA    27
4058BE4C-CD1A-40D3-89A6-76142B2BE39D    18
56D190B4-86F4-404B-B94F-6B57C54EB2D0    16
DC582867-D718-46E5-8036-1C0317044475    13
75CAA7DE-1065-48CD-9EFF-4C1AAFE4CF29    11
D28853F4-40DB-45A7-99E9-52E5FAD1C3B1     9
2F01257F-2824-40E1-BF56-1B1813D81792     7
9248F096-EC8F-4948-AD93-D30C3DBE701F     4
76F47389-5FC9-4D79-9C4E-EEEF9FAF10BE     2
1A2B6CA2-1951-4D41-A175-85C8E8312564     1
Name: count, dtype: int64

In [73]:
devolucao = vendas['Devolucoes'].value_counts()
devolucao

Devolucoes
N    10346
S      373
Name: count, dtype: int64

In [79]:
vendas['Vlr_Liquido' if vendas['Devolucoes'] == 'N' else None ].sum()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().