In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [32]:
caminho = './'

for csv in os.listdir(caminho):
    if csv.endswith('.csv'):
        if 'acessos' in csv:
            acessos = pd.read_csv(caminho + csv)
        if 'campanha' in csv:
            campanha = pd.read_csv(caminho + csv)
        if 'feedback' in csv:
            feedback = pd.read_csv(caminho + csv)
        if 'produto' in csv:
            produto = pd.read_csv(caminho + csv)
        if 'treinamento' in csv:
            treinamento = pd.read_csv(caminho + csv)
        if 'vendas' in csv:
            vendas = pd.read_csv(caminho + csv)

In [26]:
acessos.head()
acessos.shape

(11235, 5)

In [27]:
acessos = acessos.drop(columns=['CLI_CODIGO', 'Unidade'])

In [8]:
acessos.head()

         Data                           Funcionario  Quantidade_de_Acessos
0  2023-06-05  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      9
1  2023-06-10  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      6
2  2023-06-14  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      1
3  2023-06-16  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      2
4  2023-06-20  8EB10BCB-42E7-42EF-AF88-07BE7BA740C3                      5

In [28]:
produto.head()

,Data,Produto,Categoria,Unidade,N_Produtos,Vlr_Bruto,Vlr_Desconto,Vlr_Liquido,cli_codigo
0,2021-01-01,NaN,AA84C2C5-9ADD-4CF4-AA02-1E05F85CDACD,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,6.0,528.0,0.0,528.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2021-01-01,NaN,68D0E2AE-FEC4-4FCD-8DD9-318A15AD0B6F,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,1.0,102.9,0.0,102.9,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2021-01-01,NaN,56865B8F-FB8E-427D-B7CB-5557665DCBE5,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,5.0,1253.0,0.0,1253.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2021-01-01,NaN,232926E7-A4C4-49A2-A4D1-8110B378576B,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,10.0,270.0,0.0,270.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2021-01-01,NaN,37B78DF7-204A-4F20-A1B2-D0FFC029F386,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,7.0,9770.0,-752.6,9017.4,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [29]:
produto = produto.drop(columns=['Produto', 'N_Produtos', 'Vlr_Bruto', 'Vlr_Desconto', 'Vlr_Liquido' ])
produto.head()

,Data,Categoria,Unidade,cli_codigo
0,2021-01-01,AA84C2C5-9ADD-4CF4-AA02-1E05F85CDACD,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2021-01-01,68D0E2AE-FEC4-4FCD-8DD9-318A15AD0B6F,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2021-01-01,56865B8F-FB8E-427D-B7CB-5557665DCBE5,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2021-01-01,232926E7-A4C4-49A2-A4D1-8110B378576B,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2021-01-01,37B78DF7-204A-4F20-A1B2-D0FFC029F386,2F775CDD-74A9-4516-B2A4-6D7E643E96EA,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [21]:
vendas.shape

(10719, 9)

In [11]:
vendas.head()

,Data,Funcionario,Unidade,N_Boletos,N_Produtos,Vlr_Bruto,Vlr_Desconto,Vlr_Liquido,cli_codigo
0,2023-06-02,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,165.0,0.0,165.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
1,2023-06-03,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,915.0,0.0,915.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
2,2023-06-05,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,1.0,1460.0,116.8,1343.2,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
3,2023-06-06,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,1,4.0,6850.0,685.0,6165.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B
4,2023-06-07,8EB10BCB-42E7-42EF-AF88-07BE7BA740C3,FE9FCF8B-590E-4C08-B6F5-20B0A6CCF8E6,3,6.0,6867.0,511.0,6356.0,00D509DB-8BE0-4ACE-A5AD-5BF37386995B

In [71]:
vendas['Devolucoes'] = vendas.apply(lambda row: 'S' if pd.isna(row['N_Produtos']) or row['N_Produtos'] <= 0 else 'N', axis=1)

In [53]:
tcktmedio = vendas['Vlr_Bruto'].sum() / vendas.shape[0]
print(f'Ticket médio: {tcktmedio:.2f}')

Ticket médio: 10124.14

In [54]:
FatBruto = vendas['Vlr_Bruto'].sum()
print(f'Faturamento bruto:  {FatBruto:.2f}')

Faturamento bruto:  108520678.86

In [55]:
fatliq = vendas['Vlr_Liquido'].sum()
print(f'Faturamento líquido:  {fatliq:.2f}')

Faturamento líquido:  101700863.59

In [57]:
total_descontos = vendas['Vlr_Desconto'].sum()
print(f'Total de descontos:  {total_descontos:.2f}')

Total de descontos:  5287770.73

In [62]:
totprod = vendas['N_Produtos'].sum()
print(f'Total de produtos:  {totprod:.0f} unidades')

Total de produtos:  175116 unidades

In [68]:
func_rank = vendas['Funcionario'].value_counts()
top10func = func_rank.head(10)
top10func

Funcionario
B20A3E46-7DBF-46E9-BDEA-5B13AAB08CE0    1281
5822DC47-B851-42C3-BDE0-BC9ABAFFBC57     901
0EA7A9D3-8569-4082-AA86-9346CF60A095     862
46AAF177-3F15-4CAB-BF67-27DBE9CC6748     809
24985D0E-9EDF-443D-BF33-CE5CD150100B     778
21A46DC1-490D-4077-9038-8BF460B71751     740
6E478F40-59BE-4210-BFD7-E8F236A02724     568
AC5D28E1-3B90-4D0D-870A-52E3C156AC64     536
4716A6E5-20E3-42F0-81C6-CCD88070E648     529
E6C62F5A-21C7-4F83-B6A2-83A03B208343     512
Name: count, dtype: int64

In [70]:
tail10func = func_rank.tail(10)
tail10func

Funcionario
F69F7D87-4788-40F3-890B-997300670DAA    27
4058BE4C-CD1A-40D3-89A6-76142B2BE39D    18
56D190B4-86F4-404B-B94F-6B57C54EB2D0    16
DC582867-D718-46E5-8036-1C0317044475    13
75CAA7DE-1065-48CD-9EFF-4C1AAFE4CF29    11
D28853F4-40DB-45A7-99E9-52E5FAD1C3B1     9
2F01257F-2824-40E1-BF56-1B1813D81792     7
9248F096-EC8F-4948-AD93-D30C3DBE701F     4
76F47389-5FC9-4D79-9C4E-EEEF9FAF10BE     2
1A2B6CA2-1951-4D41-A175-85C8E8312564     1
Name: count, dtype: int64

In [73]:
devolucao = vendas['Devolucoes'].value_counts()
devolucao

Devolucoes
N    10346
S      373
Name: count, dtype: int64

In [79]:
vendas['Vlr_Liquido' if vendas['Devolucoes'] == 'N' else None ].sum()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().